{{#if hasBlock}}
    {{yield (hash cell=(component 'ds-table-cell')) content loading countPages}}
{{else}}
    {{#each content as |record|}}
        <tr>
            {{#each columns as |column|}}
                {{ds-table-cell
                    isVisible=column.isVisible
                    column=column
                    record=(get record column.path)
                }}
            {{/each}}
        </tr>
    {{/each}}
    {{#if loading}}
        <tr>
            <td colspan={{columns.length}}>
                loading...
            </td>
        </tr>
    {{else}}
        {{#if isEmpty}}
            <tr>
                <td colspan={{columns.length}}>
                    nothing found
                </td>
            </tr>
        {{/if}}
    {{/if}}
{{/if}}
