<ul>
    {{#each columns as |column|}}
        <li>
            {{input type='checkbox' checked=column.isVisible}}
            {{column.title}}
        </li>
    {{/each}}
</ul>


{{#ds-table modelName='product' columns=columns as |table|}}
    {{#table.thead as |thead|}}
        {{thead.cell}}
    {{/table.thead}}

    {{#table.tbody as |tbody|}}
        {{#tbody.row doubleClick=(action 'doubleClick') as |row|}}
            {{row.cell}}
        {{/tbody.row}}
    {{/table.tbody}}
    {{#table.pagination as |count current|}}
        {{#pagination-pager count=count current=current pager=true}}
            Page {{current}} of {{count}}
        {{/pagination-pager}}
    {{/table.pagination}}
{{/ds-table}}
