<div id="demo">
    <h1>ember-ds-table demonstration</h1>

    <div class="table-responsive-vertical shadow-z-1">
        {{#ds-table
            classNames="table table-hover table-mc-gray table-bordered"
            modelName='user'
            reload=reload
            columns=columns as |table|
        }}
            {{#table.thead as |thead|}}
                <tr>
                    <th colspan={{columns.length}}>
                        <a {{action 'reload'}}>
                            <i class="material-icons pointer">autorenew</i>
                        </a>
                    </th>
                </tr>
                <tr>
                    {{#each columns as |column|}}
                        {{#thead.cell isVisible=column.isVisible}}
                            {{get column 'title'}}
                        {{/thead.cell}}
                    {{/each}}
                </tr>
            {{/table.thead}}

            {{#table.tbody as |tbody content|}}
                {{#each content as |record|}}
                    <tr>
                        {{#each columns as |column|}}
                            {{#tbody.cell isVisible=column.isVisible}}
                                {{#if column.component}}
                                    {{component column.component
                                        value=(get record column.path)
                                        column=column
                                    }}
                                {{else}}
                                    {{get record column.path}}
                                {{/if}}
                            {{/tbody.cell}}
                        {{/each}}
                    </tr>
                {{/each}}
            {{/table.tbody}}

            {{#table.empty tagName='tbody' as |isEmpty loading|}}
                {{#if (and isEmpty (not loading))}}
                    <tr>
                        <td colspan={{columns.length}}>
                            nothing found
                        </td>
                    </tr>
                {{/if}}
            {{/table.empty}}

            {{#table.loading tagName='tbody' as |loading|}}
                {{#if loading}}
                    <tr>
                        <td colspan={{columns.length}}>
                            loading...
                        </td>
                    </tr>
                {{/if}}
            {{/table.loading}}

            {{#table.pagination tagName='tbody' as |countPages currentPage limit skip|}}
                <tr>
                    <td colspan="4">
                        go to: {{input classNames='go-to' value=currentPage}}
                        elements on page: {{input classNames='go-to' value=limit}}
                    </td>
                    <td colspan="3">
                        {{#pagination-pager classNames="float-right"
                            count=countPages
                            current=currentPage
                            pager=true
                            pagerPrevious='<i class="material-icons">keyboard_arrow_left</i>'
                            pagerNext='<i class="material-icons">keyboard_arrow_right</i>'
                            pagerFirst='<i class="material-icons">first_page</i>'
                            pagerLast='<i class="material-icons">last_page</i>'
                        }}
                            Page {{currentPage}} of {{countPages}}
                        {{/pagination-pager}}
                    </td>
                </tr>
            {{/table.pagination}}
        {{/ds-table}}
    </div>
</div>
