<ul>
    {{#each columns as |column|}}
        <li>
            {{input type='checkbox' checked=column.isVisible}}
            {{column.title}}
        </li>
    {{/each}}
</ul>

<h1>with blockless</h1>

{{#ds-table modelName='product' reload=(mut reload) columns=columns as |table|}}
    {{#table.thead as |thead|}}
        {{thead.cell}}
    {{/table.thead}}

    {{#table.tbody as |tbody|}}
        {{#tbody.row doubleClick=(action 'doubleClick') as |row|}}
            {{row.cell}}
        {{/tbody.row}}
    {{/table.tbody}}
    {{#table.empty as |isEmpty loading|}}
        {{#if (and isEmpty (not loading))}}
            nothing found
        {{/if}}
    {{/table.empty}}
    {{#table.loading as |loading|}}
        {{#if loading}}
            loading...
        {{/if}}
    {{/table.loading}}
    {{#table.pagination as |count current limit skip|}}
        go to: {{input value=current}}
        <br />
        elements on page: {{input value=limit}}
        <br />
        <button {{action 'reload'}}>reload</button>
        <br />
        skip: {{skip}}
        <br />
        limit: {{limit}}
        <br />
        {{#pagination-pager count=count current=current pager=true}}
            Page {{current}} of {{count}}
        {{/pagination-pager}}
    {{/table.pagination}}
{{/ds-table}}


<h1>without blockless</h1>

{{ds-table
    modelName='product'
    reload=(mut reload)
    columns=columns
}}
