<div id="demo">
    <h1>ember-ds-table demonstration</h1>

    <div class="table-responsive-vertical shadow-z-1">
        {{#ds-table
            classNames="table table-hover table-mc-gray table-bordered"
            modelName='user'
            reload=reload
            currentPage=currentPage
            limit=limit
            count=count
            columns=columns as |table pagination|
        }}
            {{#table.thead as |thead|}}
                <tr>
                    <th colspan={{if (gte columns.length 3) (sub columns.length 2) 1}}>
                        count records: {{count}}
                    </th>
                    <th style="width:250px;text-align:right" colspan="2">
                        <a href="#" {{action 'reload'}}>
                            <i class="material-icons pointer">autorenew</i>
                        </a>
                    </th>
                </tr>
                <tr>
                    {{#each columns as |column|}}
                        {{#thead.cell isVisible=column.isVisible}}
                            {{get column 'title'}}
                        {{/thead.cell}}
                    {{/each}}
                </tr>
            {{/table.thead}}

            {{#table.tbody as |tbody content loading|}}
                {{#each content as |record|}}
                    <tr>
                        {{#each columns as |column|}}
                            {{#tbody.cell isVisible=column.isVisible}}
                                {{#if column.component}}
                                    {{component column.component
                                        value=(get record column.path)
                                        column=column
                                    }}
                                {{else}}
                                    {{get record column.path}}
                                {{/if}}
                            {{/tbody.cell}}
                        {{/each}}
                    </tr>
                {{/each}}

                {{#if loading}}
                    <tr>
                        <td colspan={{columns.length}}>
                            loading...
                        </td>
                    </tr>
                {{else}}
                    {{#if (lte count 0)}}
                        <tr>
                            <td colspan={{columns.length}}>
                                nothing found
                            </td>
                        </tr>
                    {{/if}}
                {{/if}}
            {{/table.tbody}}
            <tbody>
                <tr>
                    <td colspan={{if (gte columns.length 3) (sub columns.length 2) 1}}>
                        {{input classNames='go-to' value=updateCurrentPage}}
                        <button {{action 'goTo' updateCurrentPage}}>go</button>
                        elements on page: {{input classNames='go-to' value=limit}}
                    </td>
                    <td style="width:250px" colspan="2">
                        {{#pagination-pager classNames="float-right"
                            count=pagination.countPages
                            current=currentPage
                            pager=true
                            pagerPrevious='<i class="material-icons">keyboard_arrow_left</i>'
                            pagerNext='<i class="material-icons">keyboard_arrow_right</i>'
                            pagerFirst='<i class="material-icons">first_page</i>'
                            pagerLast='<i class="material-icons">last_page</i>'
                        }}
                            Page {{currentPage}} of {{pagination.countPages}}
                        {{/pagination-pager}}
                    </td>
                </tr>
            </tbody>
        {{/ds-table}}
    </div>
</div>
